.App {
  margin: 0 auto;
}

.character-race__card {
  margin: 20px;
  width: 150px;
  height: 150px;
  box-shadow: 10px 10px 10px lightgrey;
  background-color: lightcyan;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.character-race__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
